.separate-blog{
    background-color: violet;
    
    width:400px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: white;
    align-items: center;
    padding-left: 30px;
    font-size: 25px;
}