.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  column-gap: 30px;
}
.App button{
  background-color: violet;
  color: white;
  border-color: white;
  width: 60px;
  height: 30px;
}


.blog-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.App input{
  height: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
